@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif, FontAwesome;
}

/* Color Palette */
body {
  background-color: #011936;
}
body .navMenu {
  text-align: center;
  padding: 0.5rem;
}
body .navMenu .active {
  color: #ED254E;
  text-shadow: 0px 0px 8px rgb(237, 37, 78);
}
body .navMenu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
  border-right: 2px dotted #ED254E;
  transition: all 0.2s ease-in-out;
}
body .navMenu a:last-child {
  border-right: 0;
}
body .navMenu a:hover {
  color: #ED254E;
}
body .container, body .transform-properties, body .column, body .transform-preview, body .preview, body .shadow-code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
body .container {
  min-height: 90vh;
  gap: 8px;
  padding: 1em;
}
body .container .transform-card-container, body .container .code-container {
  width: 650px;
  height: auto;
  position: relative;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #465362;
  background-color: #C2EABD;
  text-align: center;
}
body .container .transform-card-container #title, body .container .code-container #title {
  font-size: 15px;
  font-weight: bold;
  color: #011936;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .container .transform-card-container span, body .container .code-container span {
  cursor: default;
}
body .container .transform-card-container .transform-properties, body .container .code-container .transform-properties {
  flex-direction: row;
  margin: 5px 0 auto;
}
body .container .transform-card-container .transform-properties .column, body .container .code-container .transform-properties .column {
  width: 50%;
  height: auto;
  padding: 1em 0.5rem;
  border: 2px solid #011936;
  border-bottom: 0;
  background-color: #ED254E;
  color: white;
}
body .container .transform-card-container .transform-properties .column:nth-child(1), body .container .code-container .transform-properties .column:nth-child(1) {
  border-radius: 5px 0 0 0;
  border-right: 0;
}
body .container .transform-card-container .transform-properties .column:nth-child(2), body .container .code-container .transform-properties .column:nth-child(2) {
  border-radius: 0 5px 0 0;
  border-left: 2px dotted #011936;
}
body .container .transform-card-container .transform-properties .column:nth-child(3), body .container .code-container .transform-properties .column:nth-child(3) {
  border-radius: 0;
  border-top: 2px dotted #011936;
  border-right: 0;
}
body .container .transform-card-container .transform-properties .column:nth-child(4), body .container .code-container .transform-properties .column:nth-child(4) {
  border-radius: 0;
  border-left: 2px dotted #011936;
  border-top: 2px dotted #011936;
}
body .container .transform-card-container .transform-properties .column .input-group, body .container .code-container .transform-properties .column .input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}
body .container .transform-card-container .transform-properties .column .input-group label, body .container .code-container .transform-properties .column .input-group label {
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  font-size: 15px;
  margin: 0 8px 0 0;
}
body .container .transform-card-container .transform-properties .column .input-group .input-row, body .container .code-container .transform-properties .column .input-group .input-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}
body .container .transform-card-container .transform-properties .column .input-group .form-range, body .container .code-container .transform-properties .column .input-group .form-range {
  flex: 1;
  height: 25px;
  cursor: pointer;
}
body .container .transform-card-container .transform-properties .column .input-group input::-webkit-outer-spin-button, body .container .transform-card-container .transform-properties .column .input-group input::-webkit-inner-spin-button, body .container .code-container .transform-properties .column .input-group input::-webkit-outer-spin-button, body .container .code-container .transform-properties .column .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container .transform-card-container .transform-properties .column .input-group input[type=number], body .container .code-container .transform-properties .column .input-group input[type=number] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  text-align: center;
  font-size: 9px;
  border: 0;
  margin: 0 !important;
  border-radius: 5px !important;
}
body .container .transform-card-container .transform-properties .column .input-group span, body .container .code-container .transform-properties .column .input-group span {
  font-size: 10px;
  line-height: 2;
}
body .container .transform-card-container .transform-properties .column .input-group:last-child, body .container .code-container .transform-properties .column .input-group:last-child {
  margin-bottom: 0;
}
body .container .transform-card-container .transform-properties .column:last-child, body .container .code-container .transform-properties .column:last-child {
  width: 100%;
  border-top-style: dotted;
  border-bottom: 2px solid #011936;
  border-color: #011936;
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
}
body .container .transform-card-container .transform-properties .column:last-child button, body .container .code-container .transform-properties .column:last-child button {
  background-color: #465362;
  padding: 5px 10px;
  font-size: 12px;
}
body .container .transform-card-container .transform-properties .column:last-child button:hover, body .container .code-container .transform-properties .column:last-child button:hover {
  background-color: black;
}
body .container .transform-card-container .transform-properties .column:last-child button i, body .container .code-container .transform-properties .column:last-child button i {
  font-size: 10px;
}
body .container .transform-card-container .transform-preview, body .container .code-container .transform-preview {
  width: 100%;
  position: relative;
  z-index: 99;
  margin: 10px 0 auto;
  pointer-events: none;
  perspective: 200px;
}
body .container .transform-card-container .transform-preview .info, body .container .code-container .transform-preview .info {
  width: 100%;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  opacity: 0.65;
  cursor: default;
}
body .container .transform-card-container .transform-preview .preview, body .container .code-container .transform-preview .preview {
  width: 115px;
  height: 115px;
  pointer-events: none;
  transition: 0.2s;
  background-color: #F9DC5C;
  border: 2px solid #011936;
  border-radius: 5px;
}
body .container .transform-card-container .transform-preview .preview span, body .container .code-container .transform-preview .preview span {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.5;
  color: #011936;
}
body .container .code-container {
  width: 445px !important;
  height: auto;
  z-index: 1;
}
body .container .code-container .shadow-code {
  flex-wrap: nowrap;
  margin-top: 5px;
}
body .container .code-container .shadow-code .form-floating {
  width: 100%;
}
body .container .code-container .shadow-code .form-floating textarea {
  height: 150px;
  border: 2px solid #011936;
  border-radius: 5px;
  color: #011936;
  cursor: copy;
  font-size: 14px;
  line-height: 1.5;
}
body .container .code-container .shadow-code .form-floating textarea::-moz-selection {
  background-color: #F9DC5C;
}
body .container .code-container .shadow-code .form-floating textarea::selection {
  background-color: #F9DC5C;
}
body .container .code-container .shadow-code .form-floating label {
  font-size: 14px;
}
body .container .code-container .shadow-code button {
  background-color: #ED254E;
  margin-left: 5px;
  transition: 0.25s;
}
body .container .code-container .shadow-code button:hover {
  background-color: var(--bs-btn-hover-bg);
  scale: 1.05;
}/*# sourceMappingURL=styles.css.map */