@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E;
$naplesYellow: #F9DC5C;
$teaGreen: #C2EABD;
$oxfordBlue: #011936;
$Charcoal: #465362;

body {
    background-color: $oxfordBlue;   
    .navMenu {
        text-align: center;
        padding: 0.5rem;     
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola;         
            transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }

    .container, .transform-properties, .column, .transform-preview, .preview, .shadow-code {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    }
    .container {
        min-height: 90vh; gap: 8px;
        padding: 1em;

        .transform-card-container, .code-container {
            width: 650px; height: auto; position: relative;
            padding: 1em; border-radius: 10px; box-shadow: 0px 0px 5px 5px $Charcoal;
            background-color: $teaGreen; text-align: center;

            #title {
                font-size: 15px; font-weight: bold;
                color: $oxfordBlue; user-select: none;
            }
            span { cursor: default; }           
    
            .transform-properties {
                flex-direction: row; 
                margin: 5px 0 auto;

                .column {            
                    width: 50%; height: auto; 
                    padding: 1em 0.5rem; border: 2px solid $oxfordBlue; border-bottom: 0; 
                    background-color: $redCrayola; color: white; 

                    &:nth-child(1) { border-radius: 5px 0 0 0; border-right: 0; } 
                    &:nth-child(2) { border-radius: 0 5px 0 0; border-left: 2px dotted $oxfordBlue; }
                    &:nth-child(3) { border-radius: 0; border-top: 2px dotted $oxfordBlue; border-right: 0;} 
                    &:nth-child(4) { border-radius: 0; border-left: 2px dotted $oxfordBlue; border-top: 2px dotted $oxfordBlue;}  
                        
                    .input-group {
                        display: flex; flex-direction: row; justify-content: center; flex-wrap: nowrap; margin-bottom: 5px; 
 
                        label {
                            width: fit-content; height: 25px;
                            font-size: 15px; margin: 0 8px 0 0;
                        }   

                        .input-row { display: flex; align-items: center; width: 100%; gap: 5px; }
                        .form-range {
                            flex: 1; height: 25px; cursor: pointer;
                        }
                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                        input[type=number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield;
                            text-align: center; font-size: 9px;
                            border: 0; margin: 0 !important; border-radius: 5px !important;
                        }                                
                        
                        span { font-size: 10px; line-height: 2; }

                        &:last-child { margin-bottom: 0;  }
                    }   

                    &:last-child {                        
                        width: 100%;                       
                        border-top-style: dotted; border-bottom: 2px solid $oxfordBlue; border-color: $oxfordBlue; 
                        border-radius: 0 0 5px 5px; padding: 0.5rem;
                        button {         
                            background-color: $Charcoal; padding: 5px 10px; font-size: 12px;
                            &:hover { background-color: black; }
                            i { font-size: 10px; }
                        }
                    }                
                }
            }    

            .transform-preview {
                width: 100%; position: relative; z-index: 99;
                margin: 10px 0 auto; pointer-events: none;
                perspective: 200px;
                .info {
                    width: 100%;
                    font-size: 10px; letter-spacing: 1px; 
                    margin-bottom: 8px; opacity: 0.65; cursor: default;
                } 
                .preview {
                    width: 115px; height: 115px;
                    pointer-events: none; transition: 0.2s;
                    background-color: $naplesYellow; border: 2px solid $oxfordBlue; border-radius: 5px;                    
                    span { 
                        font-size: 12px; letter-spacing: 1px;
                        opacity: .5; color: $oxfordBlue;
                    }
                }
            }               
        }

        .code-container {
            width: 445px !important; height: auto; z-index: 1;
            .shadow-code {
                flex-wrap: nowrap; margin-top: 5px;
                .form-floating {
                    width: 100%;
                    textarea {
                        height: 150px;
                        border: 2px solid $oxfordBlue; border-radius: 5px; color: $oxfordBlue;
                        cursor: copy; font-size: 14px; line-height: 1.5;
                        &::selection { background-color: $naplesYellow; }
                    } 
                    label { font-size: 14px; }
                }

                button {
                    background-color: $redCrayola;
                    margin-left: 5px; transition: 0.25s;
                    &:hover { 
                        background-color: var(--bs-btn-hover-bg); 
                        scale: 1.05;
                    }
                }
            }
        }
    } 
}